<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Formatter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
<body>
    <header class="top-header">
        <div class="header-content">
            <i data-lucide="file-json" class="json-icon"></i>
            <h2>jsonformatter</h2>
        </div>
    </header>

    <hr class="divider-line" />

    <main class="main-content">
        <section class="intro">
            <h1>Raw JSON &gt; Formatted JSON</h1>
            <p>To get started, upload your raw json file converted from csv to json.</p>
        </section>

        <section class="container">
            <div class="left">
                <button class="button" id="uploadBtn">Upload File</button>
                <div class="preview" id="jsonPreview">Uploaded JSON will appear here...</div>
            </div>
            <div class="right">
                <button class="button" id="formatBtn">Format</button>
                <div class="formatted-preview" id="formattedPreview">Formatted JSON will appear here...</div>
                <button class="button" id="downloadBtn">Download JSON</button>
            </div>
        </section>
    </main>

    <script>
        lucide.createIcons();
    </script>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
